<tekfeed-toolbar></tekfeed-toolbar>
<div style="position: absolute; width: 100vw; min-height: 100vh; background: black; display: flex; flex-flow: column" [ngStyle]="{'margin-top.px': toolbarService.getHeight()}">
    <form class="example-form" style="margin-left: auto; margin-right: auto; margin-top: 25vh; display: flex; flex-flow: column" (ngSubmit)="forgotAccount()">
        <mat-form-field class="example-full-width" style="margin: 10px; font-size: x-large">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@epitech.eu">
            <mat-hint>Ex. pat@epitech.eu</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div style="display: flex; flex-flow: row; margin: 10px">
            <button style="margin-left: auto; margin-right: 0; margin-top: auto; margin-bottom: autp; height: 50px; width: 50px; cursor: pointer" type="submit" class="form-submit-button"><img src="assets/img/arrow.png" style="height: inherit; width: inherit"/></button>
        </div>
    </form>
</div>